/java/nbproject/*
/java/dist/*
/java/build/*
tests/tquery.iol
tests/lib/tqueryJavaServices.jar
java/nbproject/genfiles.properties
java/nbproject/build-impl.xml
.gradle/6.0/executionHistory/executionHistory.bin
.gradle/6.0/executionHistory/executionHistory.lock
.gradle/6.0/fileChanges/last-build.bin
.gradle/6.0/fileContent/fileContent.lock
.gradle/6.0/fileHashes/fileHashes.bin
.gradle/6.0/fileHashes/fileHashes.lock
.gradle/6.0/fileHashes/resourceHashesCache.bin
.gradle/6.0/gc.properties
.gradle/6.0/javaCompile/classAnalysis.bin
.gradle/6.0/javaCompile/jarAnalysis.bin
.gradle/6.0/javaCompile/javaCompile.lock
.gradle/6.0/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/ClojureProjectResolveSettings.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
build/classes/java/main/joliex/queryengine/common/Path.class
build/classes/java/main/joliex/queryengine/common/TQueryExpression$ResponseType.class
build/classes/java/main/joliex/queryengine/common/TQueryExpression.class
build/classes/java/main/joliex/queryengine/common/Utils.class
build/classes/java/main/joliex/queryengine/group/Utils$GroupPair.class
build/classes/java/main/joliex/queryengine/group/Utils.class
build/classes/java/main/joliex/queryengine/group/Utils_back$GroupPair.class
build/classes/java/main/joliex/queryengine/group/Utils_back.class
build/classes/java/main/joliex/queryengine/group/Zipper$1.class
build/classes/java/main/joliex/queryengine/group/Zipper.class
build/classes/java/main/joliex/queryengine/GroupService.class
build/classes/java/main/joliex/queryengine/lookup/LookupQuery$RequestType.class
build/classes/java/main/joliex/queryengine/lookup/LookupQuery.class
build/classes/java/main/joliex/queryengine/LookupService.class
build/classes/java/main/joliex/queryengine/match/BinaryExpression.class
build/classes/java/main/joliex/queryengine/match/BooleanExpression.class
build/classes/java/main/joliex/queryengine/match/EqualExpression.class
build/classes/java/main/joliex/queryengine/match/ExistsExpression.class
build/classes/java/main/joliex/queryengine/match/MatchExpression.class
build/classes/java/main/joliex/queryengine/match/MatchQuery$RequestType$QuerySubtype.class
build/classes/java/main/joliex/queryengine/match/MatchQuery$RequestType.class
build/classes/java/main/joliex/queryengine/match/MatchQuery.class
build/classes/java/main/joliex/queryengine/match/MatchUtils.class
build/classes/java/main/joliex/queryengine/match/NotExpression.class
build/classes/java/main/joliex/queryengine/MatchService.class
build/classes/java/main/joliex/queryengine/project/PathProjectExpression.class
build/classes/java/main/joliex/queryengine/project/ProjectExpressionChain.class
build/classes/java/main/joliex/queryengine/project/ProjectQuery$RequestType$ValueToPathExpression.class
build/classes/java/main/joliex/queryengine/project/ProjectQuery$RequestType.class
build/classes/java/main/joliex/queryengine/project/ProjectQuery.class
build/classes/java/main/joliex/queryengine/project/valuedefinition/ConstantValueDefinition.class
build/classes/java/main/joliex/queryengine/project/valuedefinition/ListValueDefinition.class
build/classes/java/main/joliex/queryengine/project/valuedefinition/MatchValueDefinition.class
build/classes/java/main/joliex/queryengine/project/valuedefinition/PathValueDefinition.class
build/classes/java/main/joliex/queryengine/project/valuedefinition/TernaryValueDefinition.class
build/classes/java/main/joliex/queryengine/project/valuedefinition/ValueDefinition.class
build/classes/java/main/joliex/queryengine/project/valuedefinition/ValueDefinitionParser$ValueDefinitionType$TernaryDefinitionSubtype.class
build/classes/java/main/joliex/queryengine/project/valuedefinition/ValueDefinitionParser$ValueDefinitionType.class
build/classes/java/main/joliex/queryengine/project/valuedefinition/ValueDefinitionParser.class
build/classes/java/main/joliex/queryengine/project/ValueToPathProjectExpression.class
build/classes/java/main/joliex/queryengine/ProjectService.class
build/classes/java/main/joliex/queryengine/TQueryService.class
build/classes/java/main/joliex/queryengine/unwind/UnwindExpression.class
build/classes/java/main/joliex/queryengine/unwind/UnwindQuery$RequestType.class
build/classes/java/main/joliex/queryengine/unwind/UnwindQuery.class
build/classes/java/main/joliex/queryengine/UnwindService.class
build/classes/java/test/LookupQueryTest.class
build/classes/java/test/MatchQueryTest.class
build/classes/java/test/UnwindQueryTest.class
build/reports/tests/test/classes/LookupQueryTest.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/index.html
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/default-package.html
build/resources/test/lookup_test_paths_result.json
build/resources/test/lookup_test_result.json
build/resources/test/quality.json
build/resources/test/temperature.json
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/test-results/test/TEST-LookupQueryTest.xml
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/ClojureProjectResolveSettings.xml
